<%- include ('partials/header') -%>

<div class="container logo-container py-5 d-flex justify-content-center">
    <img src="../img/BCF_logo.jpg" class="logo-image" alt="Bright Capital Finance" width="500" height="175">
</div>

<div class="container container-header">



<!-- <header class="jumbotron"> -->
    <div class = "container py-4">
        <!-- <h1 class="display-4">Bright Capital Finance</h1> -->
        
        <!-- <nav aria-label="breadcrumb" class="mt-4">
            <ol class="breadcrumb">
              <li class="breadcrumb-item"><a href="/">Home</a></li>
              <li class="breadcrumb-item active" aria-current="page">Lenders</li>
            </ol>
        </nav> -->
        <div class="text-center">
            <h1 class="display-6 existing-lenders" style="color: #4d4d4d; text-underline-position: auto; text-decoration:underline;">Features of this Test App</h1>
        </div>
            
            <!-- View Sales -->
      
            <div class="container mb-3 mt-3">
                <div class="accordion accordion-flush" id="accordionFlushExample">
                    <div class="accordion-item">
                      <h2 class="accordion-header" id="flush-headingOne">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
                          Lender questionnaire
                        </button>
                      </h2>
                      <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
                        <div class="accordion-body">This is the actual Lender questionnaire form you will add to your site. It is live and connected to the database, so <a href='lender'>click here </a> and test to your heart's content.</div>
                      </div>
                    </div>
                    <div class="accordion-item">
                      <h2 class="accordion-header" id="flush-headingTwo">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
                          Existing lender data
                        </button>
                      </h2>
                      <div id="flush-collapseTwo" class="accordion-collapse collapse" aria-labelledby="flush-headingTwo" data-bs-parent="#accordionFlushExample">
                        <div class="accordion-body">This is your <a href="/lenders">existing lender data</a> listed by Lender Company and Email only. It is searchable and youu can click 'More' on a given row to view the full details of that lender's data. </div>
                      </div>
                    </div>
                  </div>
            </div>
            
             

   </div>        
</div>



<%- include ('partials/footer') -%>