<! DOCTYPE html>
<!-- navbar-collapse collapse id="navbarCollapse" -->
<html>
    <head>
        <title><%=title%></title>
        
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.47/css/bootstrap-datetimepicker.min.css">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@5.15.4/css/fontawesome.min.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-multiselect/0.9.13/css/bootstrap-multiselect.css">
        <link rel="stylesheet" href="../css/style.css">
        <!--  jQuery -->
        <script type="text/javascript" src="/js/jquery.js"></script>
        <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
        <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment.min.js"></script>
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.47/js/bootstrap-datetimepicker.min.js"></script>
        
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-multiselect/0.9.13/js/bootstrap-multiselect.js"></script>
        

        <script>
          $(function () {
            var bindDatePicker = function() {
             $(".date").datetimepicker({
                 format:'YYYY-MM-DD',
               icons: {
                 time: "fa fa-clock-o",
                 date: "fa fa-calendar",
                 up: "fa fa-arrow-up",
                 down: "fa fa-arrow-down"
               }
             }).find('input:first').on("blur",function () {
               // check if the date is correct. We can accept dd-mm-yyyy and yyyy-mm-dd.
               // update the format if it's yyyy-mm-dd
               var date = parseDate($(this).val());
         
               if (! isValidDate(date)) {
                 //create date based on momentjs (we have that)
                 date = moment().format('YYYY-MM-DD');
               }
         
               $(this).val(date);
             });
           }
            
            var isValidDate = function(value, format) {
             format = format || false;
             // lets parse the date to the best of our knowledge
             if (format) {
               value = parseDate(value);
             }
         
             var timestamp = Date.parse(value);
         
             return isNaN(timestamp) == false;
            }
            
            var parseDate = function(value) {
             var m = value.match(/^(\d{1,2})(\/|-)?(\d{1,2})(\/|-)?(\d{4})$/);
             if (m)
               value = m[5] + '-' + ("00" + m[3]).slice(-2) + '-' + ("00" + m[1]).slice(-2);
         
             return value;
            }
            
            bindDatePicker();
          });
        </script>
      

        <script type="text/javascript">
        $(document).on('click', 'header nav ul li', function(){
            $(this).addClass('active');
            console.log('active class script run!');
        });
        </script>
        
        

    </head>
    <body>

<div class="container logo-container py-5 d-flex justify-content-center">
    <img src="../img/BCF_logo.jpg" class="logo-image" alt="Bright Capital Finance" width="500" height="175">
</div>

<div class="container container-header">
<!-- <header class="jumbotron"> -->
   
        <div class="justify-content-center py-3">
        <div class="card col-md-10 shadow-2-strong" style="margin: auto;">
          <div class="col-md-12 card-body p-5 text-center" style="background-color: #949494;">
            <h1 class="display-6" style="color: #F6DA11;">Lender Information</h1>
            <p class="mandatory-fields">* indicates mandatory field</p>
            <form action="/lender" method="POST" class="inner-outer-container py-4 needs-validation" novalidate>
                <!-- Row 0 of the form  -->
                <div class="row">
                    <div class="col-lg-12 py-2">
                        <div class="row g-2">
                            <div class="lender-form col-md">
                                <div class="row">
                                   <div class="col-md-6">
                                    <div class="form-floating mb-3">
                                        <input type="text" class="form-control" id="floatingInput" placeholder="" name="LenderCompanyName" required>
                                        <label for="floatingInput">Lender Company Name *</label>
                                        <div class="invalid-feedback">
                                            Lender Company Name Required
                                        </div>
                                    </div>
                                   </div>  
                                </div>
                                <div class="row">
                                    
                                    <div class="col-md-4">
                                        <div class="form-floating mb-3">
                                            <input type="text" class="form-control" id="floatingPassword" placeholder="" name="FirstName" required>
                                            <label for="floatingPassword">First Name *</label>
                                            <div class="invalid-feedback">
                                                First Name Required
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-floating mb-3">
                                            <input type="text" class="form-control" id="floatingPassword" placeholder="" name="LastName" required>
                                            <label for="floatingPassword">Last Name *</label>
                                            <div class="invalid-feedback">
                                                Last Name Required
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-floating mb-3">
                                            <input type="text" class="form-control" id="floatingPassword" placeholder="" name="JobTitle" required>
                                            <label for="floatingPassword">Job Title *</label>
                                            <div class="invalid-feedback">
                                                Job Title Required
                                            </div>
                                        </div>
                                    </div>      
                                </div>
                                <div class="row">
                                    <div class="col-md-4">
                                        <div class="form-floating mb-3">
                                            <input type="text" class="form-control" id="floatingPassword" placeholder="" name="BusinessPhone">
                                            <label for="floatingPassword">Business Phone</label>
                                        </div>
                                    </div>    
                                    <div class="col-md-4">
                                        <div class="form-floating mb-3">
                                            <input type="text" class="form-control" id="floatingPassword" placeholder="" name="MobilePhone" required>
                                            <label for="floatingPassword">Mobile Phone *</label>
                                            <div class="invalid-feedback">
                                                Mobile Phone Required
                                            </div>
                                        </div>
                                    </div>   
                                    <div class="col-md-4">
                                        <div class="form-floating mb-3">
                                            <input type="text" class="form-control" id="floatingPassword" placeholder="" name="EmailAddress" required>
                                            <label for="floatingPassword">Email Address *</label>
                                            <div class="invalid-feedback">
                                                Email Address Required
                                            </div>
                                        </div>
                                    </div>  
                                </div>
                                      
                                    
                                
                            <!-- ADDRESS SECTION (3 columns) -->
                            <div class="row">
                                <div class="col-lg-8">
                                    <div class="form-floating mb-3">
                                        <input type="text" class="form-control" id="floatingPassword" placeholder="" name="StreetAddress" >
                                        <label for="floatingPassword">Street Address</label>
                                    </div>
                                </div>
                                <div class="col-lg-4">
                                    <div class="form-floating mb-3">
                                        <input type="text" class="form-control" id="floatingPassword" placeholder="" name="City" >
                                        <label for="floatingPassword">City</label>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-4">
                                    <div class="form-floating mb-3">
                                        <input type="number" class="form-control" id="floatingPassword" placeholder="" name="PostCode" >
                                        <label for="floatingPassword">Post Code</label>
                                    </div>
                                </div>
                                <div class="col-lg-4">
                                    <div class="form-floating mb-3">
                                        <input type="text" class="form-control" id="floatingPassword" placeholder="" name="State" >
                                        <label for="floatingPassword">State</label>
                                    </div>
                                </div>
                                <div class="col-lg-4">
                                    <div class="form-floating mb-3">
                                        <input type="text" class="form-control" id="floatingPassword" placeholder="" name="Country" >
                                        <label for="floatingPassword">Country</label>
                                    </div>
                                </div>
                            </div>
                            <!--  END ADDRESS SECTION -->

                                

                                <div class="col-md-12">
                                    <div class="card-body p-5 mb-3 text-center" style="background-color: #ffffff; border-style: solid; border-width: 1px; border-color: #CED4D9; border-radius: 3px;">
                                        <h4 class="d-flex justify-content-center display-4" style="color: #4d4d4d; padding-bottom: .25em;">Accepted Areas for Security</h4>
                                        <div class="row">
                                            <div class="col-lg-4">
                                                <div class="form-check d-flex justify-content-start">
                                                    <input class="form-check-input" type="checkbox" value="1" id="flexCheckDefault" name="NSWMetro">
                                                    <label class="form-check-label" for="flexCheckDefault" style="padding-left:3px;" style="color: #ffffff;">
                                                    NSW Metro
                                                    </label>
                                                </div>
                                                <div class="form-check d-flex justify-content-start">
                                                    <input class="form-check-input" type="checkbox" value="1" id="flexCheckChecked" name="NSWRegional">
                                                    <label class="form-check-label" for="flexCheckChecked" style="padding-left:3px;">
                                                    NSW Regional
                                                    </label>
                                                </div>
                                                <div class="form-check d-flex justify-content-start">
                                                    <input class="form-check-input" type="checkbox" value="1" id="flexCheckDefault" name="ACT">
                                                    <label class="form-check-label" for="flexCheckDefault" style="padding-left:3px;">
                                                    ACT
                                                    </label>
                                                </div>
                                                <div class="form-check d-flex justify-content-start">
                                                    <input class="form-check-input" type="checkbox" value="1" id="flexCheckChecked" name="VICMetro">
                                                    <label class="form-check-label" for="flexCheckChecked" style="padding-left:3px;">
                                                    VIC Metro
                                                    </label>
                                                </div>
                                                <div class="form-check d-flex justify-content-start">
                                                    <input class="form-check-input" type="checkbox" value="1" id="flexCheckDefault" name="VICRegional">
                                                    <label class="form-check-label" for="flexCheckDefault" style="padding-left:3px;">
                                                    VIC Regional
                                                    </label>
                                                </div>
                                            </div>
                                            <div class="col-lg-4">
                                                <div class="form-check d-flex justify-content-start">
                                                    <input class="form-check-input" type="checkbox" value="1" id="flexCheckChecked" name="QLDMetro">
                                                    <label class="form-check-label" for="flexCheckChecked" style="padding-left:3px;">
                                                    QLD Metro
                                                    </label>
                                                </div>
                                                <div class="form-check d-flex justify-content-start">
                                                    <input class="form-check-input" type="checkbox" value="1" id="flexCheckDefault" name="QLDRegional">
                                                    <label class="form-check-label" for="flexCheckDefault" style="padding-left:3px;">
                                                    QLD Regional
                                                    </label>
                                                </div>
                                                <div class="form-check d-flex justify-content-start">
                                                    <input class="form-check-input" type="checkbox" value="1" id="flexCheckChecked" name="WAMetro">
                                                    <label class="form-check-label" for="flexCheckChecked" style="padding-left:3px;">
                                                    WA Metro
                                                    </label>
                                                </div>
                                                <div class="form-check d-flex justify-content-start">
                                                    <input class="form-check-input" type="checkbox" value="1" id="flexCheckChecked" name="WARegional">
                                                    <label class="form-check-label" for="flexCheckChecked" style="padding-left:3px;">
                                                    WA Regional
                                                    </label>
                                                </div>
                                                <div class="form-check d-flex justify-content-start">
                                                    <input class="form-check-input" type="checkbox" value="1" id="flexCheckDefault" name="SAMetro">
                                                    <label class="form-check-label" for="flexCheckDefault" style="padding-left:3px;">
                                                    SA Metro
                                                    </label>
                                                </div>
                                            </div>
                                            <div class="col-lg-4">
                                                <div class="form-check d-flex justify-content-start">
                                                    <input class="form-check-input" type="checkbox" value="1" id="flexCheckChecked" name="SARegional">
                                                    <label class="form-check-label" for="flexCheckChecked" style="padding-left:3px;">
                                                    SA Regional
                                                    </label>
                                                </div>
                                                <div class="form-check d-flex justify-content-start">
                                                    <input class="form-check-input" type="checkbox" value="1" id="flexCheckDefault" name="TASMetro">
                                                    <label class="form-check-label" for="flexCheckDefault" style="padding-left:3px;">
                                                    TAS Metro
                                                    </label>
                                                </div>
                                                <div class="form-check d-flex justify-content-start">
                                                    <input class="form-check-input" type="checkbox" value="1" id="flexCheckChecked" name="TASRegional">
                                                    <label class="form-check-label" for="flexCheckChecked" style="padding-left:3px;">
                                                    TAS Regional
                                                    </label>
                                                </div>
                                                <div class="form-check d-flex justify-content-start">
                                                    <input class="form-check-input" type="checkbox" value="1" id="flexCheckDefault" name="NTMetro">
                                                    <label class="form-check-label" for="flexCheckDefault" style="padding-left:3px;">
                                                    NT Metro
                                                    </label>
                                                </div>
                                                <div class="form-check d-flex justify-content-start">
                                                    <input class="form-check-input" type="checkbox" value="1" id="flexCheckChecked" name="NTRegional">
                                                    <label class="form-check-label" for="flexCheckChecked" style="padding-left:3px;">
                                                    NT Regional
                                                    </label>
                                                </div>
                                            </div> 
                                        </div>  
                                    </div>
                                </div>
                                
                                
                            
                            <div class="col-md-12">
                                <div class="card-body p-5 mb-3 text-center" style="background-color: #ffffff;">
                                    <div class="optional-required">
                                        <h4 class="display-4 d-flex justify-content-center" style="color: #4d4d4d">Type of Loans Offered</h4>
                                        <label class="select-label" for="floatingSelectGrid">Residential Development Construction</label>
                                        <p class="fw-lighter mb-1"></p>
                                        <input class="btn btn-select-all btn-sm mb-2" type="button" id="select_all_resdevcon" name="select_all" value="Select All">
                                        <input class="btn btn-select-all btn-sm mb-2" type="button" id="unselect_all_resdevcon" name="unselect_all" value="Unselect All">
                                        <select class="form-select mb-3 selectpicker" multiple="multiple" size='3' id="resdevcon" name="ResidentialDevelopmentConstruction" data-all="false" aria-label="Floating label select example">
                                            <!-- <option disabled>Residential Development Construction</option> -->
                                            
                                            <option value="0" name="ResDevConstApartments" data-required>Apartments</option>
                                            <option value="1" name="ResDevConstTownhouseVilla" data-required>Townhouse/Villa</option>
                                            <option value="2" name="ResDevConstRetirementVillage" data-required>Retirement Village</option>
                                          </select>
                                          
                                            <div class="invalid-feedback">
                                              Please select an item(s) from the list
                                            </div>
                                        <div class="row">
                                            <div class="col-lg-4">
                                                <div class="form-floating mb-3">
                                                    <input type="number" class="form-control" id="floatingPassword" placeholder="" name="MinimumLoanLendResDevCon" onchange="setTwoNumberDecimal" min="0" max="1000000000" step="0.01" value="" required>
                                                    <label for="floatingPassword">Minimum Loan Lend *</label>
                                                    <div class="invalid-feedback">
                                                        Minimum Loan Lend Amount Required
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-lg-4">
                                                <div class="form-floating mb-3">
                                                    <input type="number" class="form-control" id="floatingPassword" placeholder="" name="MaximumLoanLendResDevCon" onchange="setTwoNumberDecimal" min="0" max="1000000000" step="0.01" value="" required>
                                                    <label for="floatingPassword">Maximum Loan Lend *</label>
                                                    <div class="invalid-feedback">
                                                        Maximumn Loan Lend Amount Required
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-lg-4">
                                                <div class="form-floating mb-3">
                                                    <input type="number" class="form-control" id="floatingPassword" placeholder="" name="MinimumIntRateResDevCon" onchange="setTwoNumberDecimal" min="0" max="100" step="0.01" value="" required>
                                                    <label for="floatingPassword">Min Interest Rate *</label>
                                                    <div class="invalid-feedback">
                                                        Minimum Interest Rate Required
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    
                                    <div class="optional-required">
                                        <label class="select-label" for="floatingSelectGrid">Commercial Construction</label>
                                        <p class="fw-lighter mb-1"></p>
                                        <input class="btn btn-select-all btn-sm mb-2" type="button" id="select_all_comcon" name="select_all" value="Select All">
                                        <input class="btn btn-select-all btn-sm mb-2" type="button" id="unselect_all_comcon" name="unselect_all" value="Unselect All">
                                        <select class="form-select mb-3" multiple size='4' id="comcon" name="CommercialConstruction" aria-label="Floating label select example">
                                            
                                            <option value="0" data-required>Non specialist Construction</option>
                                            <option value="1" data-required>Serviced Apartments/Hotel</option>
                                            <option value="2" data-required>Student Accomodation</option>
                                            <option value="3" data-required>Hostel</option>
                                          </select>
                                          
                                        <div class="invalid-feedback">
                                          Please select an item(s) from the list
                                        </div>
    
                                        <div class="row">
                                            <div class="col-lg-4">
                                                <div class="form-floating mb-3">
                                                    <input type="number" class="form-control" id="floatingPassword" placeholder="" name="MinimumLoanLendComCon" onchange="setTwoNumberDecimal" min="0" max="1000000000" step="0.01" value="" required>
                                                    <label for="floatingPassword">Minimum Loan Lend *</label>
                                                    <div class="invalid-feedback">
                                                        Minimum Loan Lend Amount Required
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-lg-4">
                                                <div class="form-floating mb-3">
                                                    <input type="number" class="form-control" id="floatingPassword" placeholder="" name="MaximumLoanLendComCon" onchange="setTwoNumberDecimal" min="0" max="1000000000" step="0.01" value="" required>
                                                    <label for="floatingPassword">Maximum Loan Lend *</label>
                                                    <div class="invalid-feedback">
                                                        Maximumn Loan Lend Amount Required
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-lg-4">
                                                <div class="form-floating mb-3">
                                                    <input type="number" class="form-control" id="floatingPassword" placeholder="" name="MinimumIntRateComCon" onchange="setTwoNumberDecimal" min="0" max="100" step="0.01" value="" required>
                                                    <label for="floatingPassword">Min Interest Rate *</label>
                                                    <div class="invalid-feedback">
                                                        Minimum Interest Rate Required
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>


                                    <div class="optional-required">

                                        <label class="select-label" for="floatingSelectGrid">Land Subdivision</label>
                                        <p class="fw-lighter mb-1"></p>
                                        <input class="btn btn-select-all btn-sm mb-2" type="button" id="select_all_landsub" name="select_all" value="Select All">
                                        <input class="btn btn-select-all btn-sm mb-2" type="button" id="unselect_all_landsub" name="unselect_all" value="Unselect All">
                                        <select class="form-select mb-3" multiple size='2' id="landsub" name="LandSubdivision" aria-label="Floating label select example">
                                            
                                            <option value="0" data-required>Residential</option>
                                            <option value="1" data-required>Commercial</option>
                                            
                                          </select>
                                          
                                        <div class="invalid-feedback">
                                          Please select an item(s) from the list
                                        </div>
    
                                        <div class="row">
                                            <div class="col-lg-4">
                                                <div class="form-floating mb-3">
                                                    <input type="number" class="form-control" id="floatingPassword" placeholder="" name="MinimumLoanLendLandSub" onchange="setTwoNumberDecimal" min="0" max="1000000000" step="0.01" value="" required>
                                                    <label for="floatingPassword">Minimum Loan Lend *</label>
                                                    <div class="invalid-feedback">
                                                        Minimum Loan Lend Amount Required
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-lg-4">
                                                <div class="form-floating mb-3">
                                                    <input type="number" class="form-control" id="floatingPassword" placeholder="" name="MaximumLoanLendLandSub" onchange="setTwoNumberDecimal" min="0" max="1000000000" step="0.01" value="" required>
                                                    <label for="floatingPassword">Maximum Loan Lend *</label>
                                                    <div class="invalid-feedback">
                                                        Maximumn Loan Lend Amount Required
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-lg-4">
                                                <div class="form-floating mb-3">
                                                    <input type="number" class="form-control" id="floatingPassword" placeholder="" name="MinimumIntRateLandSub" onchange="setTwoNumberDecimal" min="0" max="100" step="0.01" value="" required>
                                                    <label for="floatingPassword">Min Interest Rate *</label>
                                                    <div class="invalid-feedback">
                                                        Minimum Interest Rate Required
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="optional-required">
                                        <label class="select-label" for="floatingSelectGrid">Land Purchase / Refinance</label>
                                        <p class="fw-lighter mb-1"></p>
                                        <input class="btn btn-select-all btn-sm mb-2" type="button" id="select_all_purrefi" name="select_all" value="Select All">
                                        <input class="btn btn-select-all btn-sm mb-2" type="button" id="unselect_all_purrefi" name="unselect_all" value="Unselect All">
                                        <select class="form-select mb-3" multiple size='2' id="purrefi" name="LandSubdivision1" aria-label="Floating label select example">
                                            
                                            <option value="0" data-required>Residential with D.A.</option>
                                            <option value="1" data-required>Residential without D.A.</option>
                                          </select>
                                          
                                        <div class="invalid-feedback">
                                          Please select an item(s) from the list
                                        </div>
    
                                        <div class="row">
                                            <div class="col-lg-4">
                                                <div class="form-floating mb-3">
                                                    <input type="number" class="form-control" id="floatingPassword" placeholder="" name="MinimumLoanLendLandPurRefi" onchange="setTwoNumberDecimal" min="0" max="1000000000" step="0.01" value="" required>
                                                    <label for="floatingPassword">Minimum Loan Lend *</label>
                                                    <div class="invalid-feedback">
                                                        Minimum Loan Lend Amount Required
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-lg-4">
                                                <div class="form-floating mb-3">
                                                    <input type="number" class="form-control" id="floatingPassword" placeholder="" name="MaximumLoanLendLandPurRefi" onchange="setTwoNumberDecimal" min="0" max="1000000000" step="0.01" value="" required>
                                                    <label for="floatingPassword">Maximum Loan Lend *</label>
                                                    <div class="invalid-feedback">
                                                        Maximumn Loan Lend Amount Required
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-lg-4">
                                                <div class="form-floating mb-3">
                                                    <input type="number" class="form-control" id="floatingPassword" placeholder="" name="MinimumIntRateLandPurRefi" onchange="setTwoNumberDecimal" min="0" max="100" step="0.01" value="" required>
                                                    <label for="floatingPassword">Min Interest Rate *</label>
                                                    <div class="invalid-feedback">
                                                        Minimum Interest Rate Required
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="optional-required">
                                        <label class="select-label" for="floatingSelectGrid">Build To Rent</label>
                                        <p class="fw-lighter mb-1"></p>
                                        <input class="btn btn-select-all btn-sm mb-2" type="button" id="select_all_btr" name="select_all" value="Select All">
                                        <input class="btn btn-select-all btn-sm mb-2" type="button" id="unselect_all_btr" name="unselect_all" value="Unselect All">
                                        <select class="form-select mb-3" multiple size='3' id="btr" name="LandSubdivision2" aria-label="Floating label select example">
                                            
                                            <option value="0" data-required>Construction</option>
                                            <option value="1" data-required>Purchase</option>
                                            <option value="2" data-required>Refinance</option>
                                            
                                          </select>
                                          
                                        <div class="invalid-feedback">
                                          Please select an item(s) from the list
                                        </div>
    
                                        <div class="row">
                                            <div class="col-lg-4">
                                                <div class="form-floating mb-3">
                                                    <input type="number" class="form-control" id="floatingPassword" placeholder="" name="MinimumLoanLendBTR" onchange="setTwoNumberDecimal" min="0" max="1000000000" step="0.01" value="" required>
                                                    <label for="floatingPassword">Minimum Loan Lend *</label>
                                                    <div class="invalid-feedback">
                                                        Minimum Loan Lend Amount Required
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-lg-4">
                                                <div class="form-floating mb-3">
                                                    <input type="number" class="form-control" id="floatingPassword" placeholder="" name="MaximumLoanLendBTR" onchange="setTwoNumberDecimal" min="0" max="1000000000" step="0.01" value="" required>
                                                    <label for="floatingPassword">Maximum Loan Lend *</label>
                                                    <div class="invalid-feedback">
                                                        Maximumn Loan Lend Amount Required
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-lg-4">
                                                <div class="form-floating mb-3">
                                                    <input type="number" class="form-control" id="floatingPassword" placeholder="" name="MinimumIntRateBTR" onchange="setTwoNumberDecimal" min="0" max="100" step="0.01" value="" required>
                                                    <label for="floatingPassword">Min Interest Rate *</label>
                                                    <div class="invalid-feedback">
                                                        Minimum Interest Rate Required
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>


                                    <div class="optional-required">
                                        <label class="select-label" for="floatingSelectGrid">NDIS/SDA</label>
                                        <p class="fw-lighter mb-1"></p>
                                        <input class="btn btn-select-all btn-sm mb-2" type="button" id="select_all_ndis" name="select_all" value="Select All">
                                        <input class="btn btn-select-all btn-sm mb-2" type="button" id="unselect_all_ndis" name="unselect_all" value="Unselect All">
                                        <select class="form-select mb-3" multiple size='3' id="ndis" name="LandSubdivision3" aria-label="Floating label select example">
                                            
                                            <option value="0" data-required>Construction</option>
                                            <option value="1" data-required>Purchase</option>
                                            <option value="2" data-required>Refinance</option>
                    
                                          </select>
                                          
                                        <div class="invalid-feedback">
                                          Please select an item(s) from the list
                                        </div>
    
                                        <div class="row">
                                            <div class="col-lg-4">
                                                <div class="form-floating mb-3">
                                                    <input type="number" class="form-control" id="floatingPassword" placeholder="" name="MinimumLoanLendNDIS" min="0" max="1000000000" step="0.01" value="" required>
                                                    <label for="floatingPassword">Minimum Loan Lend *</label>
                                                    <div class="invalid-feedback">
                                                        Minimum Loan Lend Amount Required
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-lg-4">
                                                <div class="form-floating mb-3">
                                                    <input type="number" class="form-control" id="floatingPassword" placeholder="" name="MaximumLoanLendNDIS" min="0" max="1000000000" step="0.01" value="" required>
                                                    <label for="floatingPassword">Maximum Loan Lend *</label>
                                                    <div class="invalid-feedback">
                                                        Maximumn Loan Lend Amount Required
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-lg-4">
                                                <div class="form-floating mb-3">
                                                    <input type="number" class="form-control" id="floatingPassword" placeholder="" name="MinimumIntRateNDIS" onchange="setTwoNumberDecimal" min="0" max="100" step="0.01" value="" required>
                                                    <label for="floatingPassword">Min Interest Rate *</label>
                                                    <div class="invalid-feedback">
                                                        Minimum Interest Rate Required
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="form-check d-flex justify-content-start">
                                        <input class="form-check-input" type="checkbox" value="1" id="checkbox_1" name="ResidualApartmentStock" data-required>
                                        <label class="form-check-label" for="flexCheckDefault" style="padding-left:3px;">
                                        Residual Apartment Stock
                                        </label>
                                    </div>
                                    <div class="row">
                                        <div class="col-lg-4">
                                            <div class="form-floating mb-3">
                                                <input type="number" class="form-control ras" id="ras_1" placeholder="" name="MinimumLoanLendRAS" min="0" max="1000000000" step="0.01" value="" >
                                                <label for="floatingPassword">Minimum Loan Lend *</label>
                                                <div class="invalid-feedback">
                                                    Minimum Loan Lend Amount Required
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-4">
                                            <div class="form-floating mb-3">
                                                <input type="number" class="form-control ras" id="ras_2" placeholder="" name="MaximumLoanLendRAS" min="0" max="1000000000" step="0.01" value="" >
                                                <label for="floatingPassword">Maximum Loan Lend *</label>
                                                <div class="invalid-feedback">
                                                    Maximumn Loan Lend Amount Required
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-4">
                                            <div class="form-floating mb-3">
                                                <input type="number" class="form-control ras" id="ras_3" placeholder="" name="MinimumIntRateRAS" onchange="setTwoNumberDecimal" min="0" max="100" step="0.01" value="">
                                                <label for="floatingPassword">Min Interest Rate *</label>
                                                <div class="invalid-feedback">
                                                    Minimum Interest Rate Required
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    
                                        
                                    
                                    
                                    <div class="form-check d-flex justify-content-start">
                                        <input class="form-check-input" type="checkbox" value="1" id="checkbox_2" name="CommercialSitePurchaseRefinance" data-required>
                                        <label class="form-check-label" for="flexCheckDefault" style="padding-left:3px;">
                                        Commercial Site Purchase / Refinance
                                        </label>
                                    </div>
                                    <div class="row">
                                        <div class="col-lg-4">
                                            <div class="form-floating mb-3">
                                                <input type="number" class="form-control csp" id="csp_1" placeholder="" name="MinimumLoanLendCSPR" min="0" max="1000000000" step="0.01" value="" >
                                                <label for="floatingPassword">Minimum Loan Lend *</label>
                                                <div class="invalid-feedback">
                                                    Minimum Loan Lend Amount Required
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-4">
                                            <div class="form-floating mb-3">
                                                <input type="number" class="form-control csp" id="csp_2" placeholder="" name="MaximumLoanLendCSPR" min="0" max="1000000000" step="0.01" value="" >
                                                <label for="floatingPassword">Maximum Loan Lend *</label>
                                                <div class="invalid-feedback">
                                                    Maximumn Loan Lend Amount Required
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-4">
                                            <div class="form-floating mb-3">
                                                <input type="number" class="form-control csp" id="csp_3" placeholder="" name="MinimumIntRateCSPR" onchange="setTwoNumberDecimal" min="0" max="100" step="0.01" value="">
                                                <label for="floatingPassword">Min Interest Rate *</label>
                                                <div class="invalid-feedback">
                                                    Minimum Interest Rate Required
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-check d-flex justify-content-start">
                                        <input class="form-check-input" type="checkbox" value="1" id="checkbox_3" name="SecondMortgages" data-required>
                                        <label class="form-check-label" for="flexCheckDefault" style="padding-left:3px;">
                                        Second Mortgages
                                        </label>
                                    </div>
                                    <div class="row">
                                        <div class="col-lg-4">
                                            <div class="form-floating mb-3">
                                                <input type="number" class="form-control sm" id="sm_1" placeholder="" name="MinimumLoanLendSM" min="0" max="1000000000" step="0.01" value="">
                                                <label for="floatingPassword">Minimum Loan Lend *</label>
                                                <div class="invalid-feedback">
                                                    Minimum Loan Lend Amount Required
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-4">
                                            <div class="form-floating mb-3">
                                                <input type="number" class="form-control sm" id="sm_2" placeholder="" name="MaximumLoanLendSM" min="0" max="1000000000" step="0.01" value="">
                                                <label for="floatingPassword">Maximum Loan Lend *</label>
                                                <div class="invalid-feedback">
                                                    Maximumn Loan Lend Amount Required
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-4">
                                            <div class="form-floating mb-3">
                                                <input type="number" class="form-control sm" id="sm_3" placeholder="" name="MinimumIntRateSM" onchange="setTwoNumberDecimal" min="0" max="100" step="0.01" value="">
                                                <label for="floatingPassword">Min Interest Rate *</label>
                                                <div class="invalid-feedback">
                                                    Minimum Interest Rate Required
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-check d-flex justify-content-start">
                                        <input class="form-check-input" type="checkbox" value="1" id="checkbox_4" name="EquityFinance" data-required>
                                        <label class="form-check-label" for="flexCheckChecked" style="padding-left:3px;">
                                        Equity Finance
                                        </label>
                                    </div>
                                    <div class="row">
                                        <div class="col-lg-4">
                                            <div class="form-floating mb-3">
                                                <input type="number" class="form-control ef" id="ef_1" placeholder="" name="MinimumLoanLendEF" min="0" max="1000000000" step="0.01" value="">
                                                <label for="floatingPassword">Minimum Loan Lend *</label>
                                                <div class="invalid-feedback">
                                                    Minimum Loan Lend Amount Required
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-4">
                                            <div class="form-floating mb-3">
                                                <input type="number" class="form-control ef" id="ef_2" placeholder="" name="MaximumLoanLendEF" min="0" max="1000000000" step="0.01" value="">
                                                <label for="floatingPassword">Maximum Loan Lend *</label>
                                                <div class="invalid-feedback">
                                                    Maximumn Loan Lend Amount Required
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-4">
                                            <div class="form-floating mb-3">
                                                <input type="number" class="form-control ef" id="ef_3" placeholder="" name="MinimumIntRateEF" onchange="setTwoNumberDecimal" min="0" max="100" step="0.01" value="">
                                                <label for="floatingPassword">Min Interest Rate *</label>
                                                <div class="invalid-feedback">
                                                    Minimum Interest Rate Required
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-check d-flex justify-content-start">
                                        <input class="form-check-input" type="checkbox" value="1" id="checkbox_5" name="MezzanineFinance" data-required>
                                        <label class="form-check-label" for="flexCheckDefault" style="padding-left:3px;">
                                        Mezzanine Finance
                                        </label>
                                    </div>
                                    <div class="row">
                                        <div class="col-lg-4">
                                            <div class="form-floating mb-3">
                                                <input type="number" class="form-control mf" id="mf_1" placeholder="" name="MinimumLoanLendMF" min="0" max="1000000000" step="0.01" value="">
                                                <label for="floatingPassword">Minimum Loan Lend *</label>
                                                <div class="invalid-feedback">
                                                    Minimum Loan Lend Amount Required
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-4">
                                            <div class="form-floating mb-3">
                                                <input type="number" class="form-control mf" id="mf_2" placeholder="" name="MaximumLoanLendMF" min="0" max="1000000000" step="0.01" value="">
                                                <label for="floatingPassword">Maximum Loan Lend *</label>
                                                <div class="invalid-feedback">
                                                    Maximumn Loan Lend Amount Required
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-4">
                                            <div class="form-floating mb-3">
                                                <input type="number" class="form-control mf" id="mf_3" placeholder="" name="MinimumIntRateMF" onchange="setTwoNumberDecimal" min="0" max="100" step="0.01" value="">
                                                <label for="floatingPassword">Min Interest Rate *</label>
                                                <div class="invalid-feedback">
                                                    Minimum Interest Rate Required
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-check d-flex justify-content-start">
                                        <input class="form-check-input" type="checkbox" value="1" id="checkbox_6" name="Resources" data-required>
                                        <label class="form-check-label" for="flexCheckChecked" style="padding-left:3px;">
                                        Resources (eg. Mining operations)
                                        </label>
                                    </div>
                                    <div class="row">
                                        <div class="col-lg-4">
                                            <div class="form-floating mb-3">
                                                <input type="number" class="form-control r" id="r_1" placeholder="" name="MinimumLoanLendRES" min="0" max="1000000000" step="0.01" value="">
                                                <label for="floatingPassword">Minimum Loan Lend *</label>
                                                <div class="invalid-feedback">
                                                    Minimum Loan Lend Amount Required
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-4">
                                            <div class="form-floating mb-3">
                                                <input type="number" class="form-control r" id="r_2" placeholder="" name="MaximumLoanLendRES" min="0" max="1000000000" step="0.01" value="">
                                                <label for="floatingPassword">Maximum Loan Lend *</label>
                                                <div class="invalid-feedback">
                                                    Maximumn Loan Lend Amount Required
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-4">
                                            <div class="form-floating mb-3">
                                                <input type="number" class="form-control r" id="r_3" placeholder="" name="MinimumIntRateRES" onchange="setTwoNumberDecimal" min="0" max="100" step="0.01" value="">
                                                <label for="floatingPassword">Min Interest Rate *</label>
                                                <div class="invalid-feedback">
                                                    Minimum Interest Rate Required
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                                
                                
                            </div>
                        </div>
                    </div>
                </div>     
                    <button class="btn btn-primary btn-lg btn-block" type="submit">Submit</button>
            </form>
        </div>
    </div>
</div>
</div>

<!-- </header> -->

</div>

<div class="container container-actions">
    <div class = "row">
        <div class = "col-lg-12">
            
                
            
        </div>
    </div>
</div>


<%- include ('partials/footer') -%>