<%- include ('partials/header') -%>

<div class="container container-header">
<!-- <header class="jumbotron"> -->
    <div class = "container py-5 d-flex justify-content-center">
        <img src="../../public/img/BCF_logo.jpg" alt="Bright Capital Finance" width="200" height="80">
        <h1 class="display-1">Bright Capital Finance</h1>
        
        </div>
        <div class = "container py-5 d-flex justify-content-center">
            <h1 class="display-4">Thank You for Completing the Questionnaire</h1>
        </div>
        
        

<!-- </header> -->

</div>

<div class="container container-actions">
    <div class = "row">
        <div class = "col-lg-12">
            
                
            
        </div>
    </div>
</div>


<%- include ('partials/footer') -%>