.container-header {
  min-height: calc(100vh - 58px);
}

.logo-container {
  margin-left: 0;
  margin-right: 0 !important;
  justify-content: center;
  background-color: #4d4d4d;
  max-width: 100%;
}

h1 {
  font-size: clamp(40px, 5vw, 70px);
}

.display-4 {
  font-size: clamp(30px, 2vw, 2em);
}

p {
  font-size: clamp(1em, 2vw, 2em);
}

/* */

.mandatory-fields {
  font-size: 1em;
  color: #f6dd0d;
}

.form-floating > .form-control,
.form-floating > .form-select {
  height: calc(2.05rem + 2px);
  line-height: 1.25;
}

.form-floating label {
  font-size: 0.85em;
  padding-top: 0.75em;
}

.footer {
  position: relative;
}

.select-label {
  font-size: clamp(22px, 1vw, 1em);
}

.fw-lighter {
  font-size: clamp(20px, 1vw, 1em);
}

.btn-select-all {
  background-color: #cecece;
  border-color: #cecece;
}

.btn-select-all:focus,
.btn-select-all:active {
  outline: none !important;
  box-shadow: none;
}

.form-check {
  /* padding-left: 3em; */
  font-size: clamp(1em, 2em, 1em);
}

/* .form-check input {
  font-size: clamp(1.75em, 1vw, 1em);
} */

.form-check label {
  font-size: clamp(1em, 1vw, 1em);
  padding-left: 10px !important;
}

/* Eliminate the card body padding and hide "Use shift or ctrl to multiselect" for mobile screens */
@media only screen and (max-width: 600px) {
  html {
    width: 100%;
  }
  .container-header {
    padding-left: 0 !important;
    padding-right: 0 !important;
  }
  .logo-image {
    width: 100%;
    height: 100%;
  }
  .logo-container {
    background-color: #4d4d4d;
  }
  .card-body {
    padding: 1rem !important;
  }
  .fw-lighter {
    /* visibility: hidden; */
    font-size: 1em;
  }
  .form-check {
    padding-left: 1.5em;
  }
  .form-check label {
    font-size: 1rem;
  }
  .form-check input {
    font-size: 30px;
  }

  .display-4 {
    font-size: 1.75em;
  }
  .display-6 {
    font-size: 50px;
  }
  .existing-lenders {
    font-size: 2rem;
  }

  .dataTables_length label,
  .form-select {
    font-size: 1rem !important;
  }

  .dataTables_length {
    padding-bottom: 1rem;
  }

  .dataTables_filter label,
  input {
    font-size: 1rem !important;
  }

  .dataTables_info {
    padding-bottom: 1rem;
  }

  .table {
    font-size: 0.75rem;
  }

  .table .btn {
    font-size: 1.25rem;
  }

  label {
    font-size: 1rem;
  }
  /* .form-floating > .form-control,
  .form-floating > .form-select {
    height: calc(3.3rem + 2px);
    line-height: 1.25;
  } */
  .form-control {
    font-size: 1.85rem;
  }

  /* .form-control label {
    font-size: 2.85rem;
  } */

  .form-select {
    font-size: 2rem;
    line-height: 1.15;
  }
  .select-label {
    font-size: 1.2rem;
    font-weight: 500;
  }
  .btn {
    padding: 0.75rem 1rem;
    font-size: 1.25rem;
    border-radius: 0.3rem;
  }
}
